body{
    margin: 0 auto;
}

.header{
    margin: 0 auto;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid red;
    background-color: #f2f2f2;
}

.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mainPageLogo{
    border-radius: 50px;
    max-width: 100px;
    max-height: 100px;
}

.mainPageLogo img{
    border-radius: 50px;
    width: 90%;
    height: 90%;
}

.mainPageProfileLogo{
    max-width: 100px;
    max-height: 100px;
}

.mainPageProfileLogo img{
    border-radius: 50px;
    max-width: 70%;
    max-height: 70%;
}


.selected-language{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.selected-language::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/KZ/shiny/32.png);
}

.dropdown-menu ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-menu ul li{
    list-style: none;
}

.dropdown-menu ul li a{
    width: 125px;
    display: block;
    padding: 5px 10px;
}

.selected-language ul li a::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/KZ/shiny/32.png);
}

.dropdown-menu ul li a:hover{
    background-color: #f2f2f2;
}

