.body{
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    transition: 0.3s;
}

a{
    text-decoration: none;
}

.header{
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    background-color: #f2f2f2;
    padding: 10px 10px;
}

.mainPageLogo{
    border-radius: 50px;
    max-width: 100px;
    max-height: 100px;
}

.mainPageLogo img{
    border-radius: 50px;
    width: 90%;
    height: 90%;
}

.mainPageProfileLogo{
    border-radius: 50px;
    max-width: 100px;
    max-height: 100px;
}

.mainPageProfileLogo img{
    border-radius: 50px;
    max-width: 100px;
    max-height: 100px;
}

.menu{
    display: flex;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.lang-menu {
    margin-top: 25px;
    position: relative;
    height: 40px;
}

.selected-lang{
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.selected-lang:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-image: url(https://flagsapi.com/KZ/flat/32.png);
    align-items: center;
}

.lang-menu ul{
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
}

.lang-menu ul li{
    list-style: none;
}

.lang-menu ul li a{
    width: 125px;
    display: block;
    padding: 5px 10px;
}

.lang-menu ul li a:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.lang-menu ul li a:hover{
    background-color: #f2f2f2;
}

.kz:before{
    background-image: url(https://flagsapi.com/KZ/flat/32.png);   
}

.ru:before{
    background-image: url(https://flagsapi.com/RU/flat/32.png);
}

.en:before{
    background-image: url(https://flagsapi.com/US/flat/32.png);
}

.lang-menu:hover ul{
    display: block;
}

.dark{
    background-color: rgb(50, 50, 50);
    color: white;
}

.profile-dropdown{
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

.profile-dropdown ul{
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

.profile-dropdown ul li{
    list-style: none;
}

.profile-dropdown ul li a{
    width: 125px;
    display: block;
    padding: 10px 10px;
}

.profile-dropdown ul li a:hover{
    background-color: #f2f2f2;
}

.profile-dropdown:hover ul {
    display: block;
}
